[options]
; Log Settings
logfile = {{ log_path }}/odoo.log
log_level = {{ log_level }}

; Custom Modules
addons_path = {{ custom_modules_path }}/current

; Master password to manage dbs
admin_passwd = {{ admin_password }}
