# Vars to use in lxc-create
NAME="odoo"
DISTRIBUTION="ubuntu"
RELEASE="xenial"
ARCH="amd64"
LXC_CONFIG="/tmp/ubuntu.$NAME.conf"
HOST="local.$NAME.coop"
PROJECT_NAME="odoo"
PROJECT_PATH="${PWD%/*}/$PROJECT_NAME"
